<% @searched_list.each do |article| %>
  <div>
    <span><%= article.name %></span>
    <%= button_to catalog_article_publications_path(@source_id), 
                  method: :post, remote: true,
                  params: { article_id: article.id } do %>
      <span><i class="fas fa-plus"></i><%= t('form.add') %></span>
    <% end %>
  </div>
<% end %>