<ul class="list-group">
  <% @searched_list.each do |catalog| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <span><%= catalog.name %></span>
      <span class="badge">
        <%= button_to article_article_publications_path(@source_id), 
                      class: 'btn-sm',
                      method: :post, remote: true,
                      params: { catalog_id: catalog.id } do %>
          <span class="fas fa-plus"></span>
          <span>Add</span>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>